* {
    /* this first part specifies all dimentions of the webpage in general */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
/* this part decides the universal fontsize of all the content within the html tag */
html {
    font-size: 27.5%;
    color: black;
    /* scroll-behavior: smooth; */
}
/* navigation menu styling */


.nav .navBar__menu{
display: flex;
position: fixed;
top: 0;
left: 0;
width: 100%;
background: #908b8b;
justify-content: space-between;
align-items: center;
padding: 1rem 2rem;
box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);


}


.nav .navBar__menu{
    
    
    /* position: fixed; */
    /* top makes the content stay at the top part of the page */
    top:80;
    padding-top: 16px;
    /* the number i choose for left determines how far left my content will be positioned */
    left:9%;
    height:184px;
    width: 190;
    background: rgb(153, 197, 115);
    /* z-index: 2000; */
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5rem rgba(0, 0, 0, .5);
    transition: .5s; 
}
  




.nav .navBar__menu ul {
    padding-bottom: 8px;
    float: left;
    margin: right;
    text-decoration:none;
}

.nav .navBar__menu ul li {
    background-color: rgb(80, 121, 3);
    
    display: inline-block;
    top: 20px;
    line-height: 30px;
    margin: 0 49px;
 

}



.nav .navBar__menu ul li a {
    color: rgb(17, 16, 16);
    font-size: 27px;
    font-weight: bolder;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: none;


}




a.active,
a:hover {
    background: #20be42;
    transition: 1s;
}
.logo{
    position: fixed;
    font-size: 24px;
}


/* the end ofthe navigation menu decoration */

 




/* start of the introduction section */
section.intro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    word-spacing: 19px;
    column-gap: 19px;
background-color: #908b8b;
background-image: url(bg.png);
background-repeat: no-repeat;
background-size: 100%;
    /* position: relative; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    margin-bottom:0px ;
    /* background: blue; */
    /* padding: 55rem; */
    width: 100%;
    height: fit-content;
    
    padding-top: 295px;
    font-size: 54px;
    font-weight: 900;
    padding-left: 65px;

}

/* section.intro p{
    position: relative;
    margin-left: 45px;
    margin-top: 55px;
} */

section.intro span{
    color: #0a0a0a;
}

section.intro span strong{
    color: hsl(95, 88%, 53%);
}
section.intro .ig {

    font-size: 25px;
    color: #0e0f0d;
   
}
.fa {
    color: rgb(118, 68, 93);
    font-size: 47px;
    margin: right;
   
}
/* button{
    border-radius: 12px;
    border-width: 3px;
    background-color: #1c1f1c;
} */


/* profile pic part */

picture img {
    border-radius: 50%;
}
/* end of the introduction section */



/* start of about section */

/* section.about{
    width: 100%;
 background-color: #45da6d;
  
} */
#about{
    position: relative;
    color: #041209;
    font-size: 24px;
    height: 920px;
    width: 100%;
   
    justify-content: center;
    align-items: center;
    
    margin-bottom: 1px;
    /* margin-top: 20px; */
    /* padding-top: 210px; */

    /* margin-left: 20px; */
    background-color: #abc8b0;
    

}
.about ul li a{
color: #0c0e0d;
margin-left: 30px;
}
.about strong{
    
    margin-left:790px;
    font-size: 64px; 

}
.about strong .name{
margin-left: 40px;
}
.about p{
    margin-left: 44px;
    font-family: Arial;
    font-weight: 900;
} 
.par p{
    position: relative;
    color: #070a08;
    background: transparent;
    width: 400px;
    top: -200px;
    font-size: 24px;
    font-weight: 10;
    align-items: center;
    margin: left;
    margin-left: 700px;

    
}



/* end of the ABOUT section */

/* Start of the SKILLS section */

#skills{
    position: relative;
    color: #151515;
    font-size: 24px;
    height: 920px;
    width: 100%;
   
    justify-content: center;
    align-items: center;
    
    margin-bottom: 1px;
    background-color: #d3dad4;
    background-image: url(ubuntu.jpg.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#skills h2{
    margin: right;
    margin-left:  700px;
    padding-top: 50px;
    font-size: 54px;
    color: green;

}

* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}




.skills div{
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */

#skills .bars{
background:transparent;
    width: 300px;
   
    border-width: 23px;
    margin-left: 200px;

}
#skills .par{
    color: green;
    width: 350px;
    margin: right;
    margin-left: 400px;
}

/* end of the skills section */


/* start of the contact section */

#cnt{
    position: relative;
    color:rgb(243, 237, 237);
    font-size: 24px;
    height: 920px;
    width: 100%;
   
    justify-content: center;
    align-items: center;
    background-color: #1a2223;
   background-image: url(bg2.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;

}

#cnt h2{
    margin: right;
    margin-left: 700px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 54px;
    color: #46c697;
}

#cnt fieldset{
    margin: right;
    margin-left:1120px ;
    width: 600px;
    border-radius: 30px;
}
#cnt button {
    box-decoration-break: slice;
    color:rgb(12, 13, 12) ;
    background-color: rgb(13, 144, 147);
    margin-left:1110px;
    font-size: 14px;
    border-radius: 13px;
    width: 100px;

}
#cnt button .home{
    box-decoration-break: slice;
    color:rgb(12, 13, 12) ;
    background-color: rgb(13, 144, 147);
    margin-left:-10px;
    font-size: 14px;
    border-radius: 13px;
    width: 100px; 
}
#cnt .location{
    position: relative;
   margin: right;
   margin-left: 1120px; 
   color: rgb(227, 238, 227);
   text-decoration: underline;
   text-decoration-color:rgb(98, 156, 161) ;
   /* margin-bottom:40px ; */
}
#cnt  button{
width: 117px;
color: #121416;
    height: 32px;
}
#cnt  button a{
    color: rgb(13, 15, 16);
    background-color: #21aece;
    font-size: 19px;
    font-weight: 34px;
    

}

#cnt address{
    color: whitesmoke;
    margin-left: 1125px;
}

#cnt .links h2{
    position: relative;
    margin: left;
    margin-left: 20px;
    
    }

    #cnt .links p a{
        color: #21cad3;
        text-transform: none;
        word-spacing: 14px;
        
    }